body {
    font-family: 'Poppins', sans-serif;
}

.text-color {
    color: white;
}

#font-size {
    font-size: 50px;
}

#button-one {
    background-color: orangered;
    border-radius: 5px;
    padding: 12px;
    text-decoration: none;
    color: white;
}

#section-one {
    text-align: center;
    background-image: url(images/donation6.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
}

#div-one {
    padding: 50px;
}



#section-two {
    text-align: center;
}

#pay {
    display: flex;
    text-align: center;
}

.amount-design {
    background-color: whitesmoke;
    font-weight: 900;
    font-size: 30px;
    margin: 15px;
    padding: 30px 20px;
    border-radius: 7px;
}

#amount {
    font-weight: 900;
    font-size: 30px;
    margin: 15px;
    padding: 30px 20px;
    background-color: rgb(247, 196, 178);
    border-style: solid;
    border-color: red;
    border-radius: 7px;
}

#button-two {
    background-color: orangered;
    border-radius: 5px;
    padding: 12px;
    text-decoration: none;
    color: white;
}